* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to top, #d5dbd7 80%, #009688  50%  );
}

.container{
    width: 1000px;
    margin: 4rem auto;
    text-align: center;
    height: 95vh;
}


div.lateralSide{
    width: 30vw;
    background-color: #2557ca;
    
}
div.upper{
    height: 60px;
    background-color:#790fa2 ;
}

div.rightSide{
    width: 70vw;

}

 div.upperRightSide{
    height: 60px;
    background-color:#eaeaea ;
}

div.messageBox{
    position: relative;
    height: calc(100% - 120px);
background-color: #e5dcd6;
}

div.downRightSide{
    height: 60px;
    background-color:#eaeaea ;
}

.my_fontName{
    font-size: 12px;
}

.my_fontAccess{
    font-size: 9px;
}
.my_form{
    position: relative;
    width: 100%;
    height: 35px;
    background-color: #e5e5e5;
    border-radius: 5px;
    display: flex;
  flex-direction: row;
  align-items:center;
  
  
}
#query{
    all: unset;
  font: 16px system-ui;
  color: #fff;
  height: 100%;
  width: 100%;
  padding: 6px 10px;

}
 ::placeholder {
    color: #757575;
    opacity: 0.7;
    font-size: 13px; 
 }

button {
    all: unset;
    cursor: pointer;
  }
  
  svg {
    color: #050506;
    width: 40px;
    height: 40px;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0%;
    
}

ul{
    list-style-type: none;
}

.my_marginRight{
    margin-right: 1rem;
}

.formPosition{
    position: absolute;
    right: 60px;
}

.my_downForm{
    width: 80%;
    
}
.my_userForm, div.my_interlocutorForm{
    width: 200px;
}
.my_userForm1{
    top: 80px;

}

.my_userForm2{
    top: 120px;
    

}

.my_interlocutorForm{
    position: absolute;
  top: 200px;
  left: 60px;

}