* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to top, #d5dbd7 80%, #009688  50%  );
}

.container{
    width: 1000px;
    margin: 4rem auto;
    text-align: center;
   
}


div.lateralSide{
    width: 30vw;
    background-color: #ffffff
    
}
div.upper{
    height: 60px;
    background-color:#eaeaea ;
}
div.notifications{
    height: 75px;
    background-color:#8edafc;
    text-align: start;
}

div.rightSide{
    width: 70vw;
}

 div.upperRightSide{
    height: 60px;
    background-color:#eaeaea ;
}

div.messageBox{
    position: relative;
    height: calc(100% - 120px);
background-image:url(../img/mine.jpg);
overflow-x: hidden;
overflow-y: scroll;


    
}

div.downRightSide{
    height: 60px;
    background-color:#eaeaea ;
}

.my_font{
    font-size: 12px;
}

.my_fontAccess{
    font-size: 9px;
}
.my_form{
    position: relative;
    width: 300px;
    height: 30px;
    border-radius: 5px;
    display: flex;
  flex-direction: row;
  align-items:center;
}
input{
    width: 500px;
    height: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
}


#query{
    all: unset;
  font: 16px system-ui;
  height: 100%;
  width: 100%;
  padding: 6px 10px;

}
 ::placeholder {
    font-size: 13px; 
 }
 button{
    all: unset;
    cursor: pointer;
}


.lentLeftSide{
    position: absolute;
    left: 5%;
    bottom: 2%; 
}
 

ul{
    list-style-type: none;
}

.my_marginRight{
    margin-right: 1rem;
}

.my_downForm{
    width: 80%;
    
}

.showMessage{
    height:35px;
    font-size: 12px;
    border-radius: 30px;
    padding: 2rem;

}

.messageReceived{
    float: left;
    background-color: white;
}


.float::after{
    content: "";
    display:table;
    clear: both;
   
}

.messageSent{
    float: right;
    background-color: #d5f9ba;
    
}


.circle{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: white;
}

.text-decoration{
    text-decoration: underline;
}
div.my_searchBar{
    height: 50px;


}
div.userContact{
    height: 65px; ;
}

.my_fontContact{
    font-size: 13px;
}
.my_fontVisible{
    font-size: 8px;
    color: #a9b9cc;
}
div.contacts{
   overflow: auto;
   overflow-y: scroll;
    
    
}

.active {
    background-color:#e9ebeb
}

.fontDate{
    font-size: 8px;
}

.hiddenMessage{
    display: none;
}


